/* --- Header --- */

header {
    background: var(--bs-white);
    padding: 5px 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid var(--bg-darkgrey);
}

header .navbar-nav .nav-item {
    margin-right: 20px;
}

.error{
    background: #eb3434;
    width: 100%;
    text-align: center;
    color: white;
}

.success{
    background: #45E96B;
    width: 100%;
    text-align: center;
    color: white;
}

header .navbar-nav .nav-item .nav-link {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--bg-darkblue);
    transition: all 0.3s ease-in;
}

header .navbar-nav .nav-item .nav-link:hover {
    color: var(--text-skyblue);
}

header .navbar-nav .nav-item .border-btn {
    padding: 9px 20px;
    font-size: 14px;
}

header .search-form {
    margin-left: 30px;
    position: relative;
    width: 50%;
}

header .search-form .form-control {
    border-radius: 30px;
    border: 1px solid var(--bg-darkgrey);
    background: var(--bg-lightgrey);
    color: var(--bg-darkgrey);
    font-size: 16px;
    height: 50px;
    padding: 6px 30px 6px 50px;
}

header .search-form .bi-search {
    position: absolute;
    left: 15px;
    top: 8px;
    color: var(--text-skyblue);
    font-size: 24px;
}

header .navbar-nav .nav-item .cart-btn {
    font-size: 22px;
    color: var(--text-skyblue);
    transition: all 0.3s ease-in;
}

header .navbar-nav .nav-item .cart-btn:hover {
    color: var(--bg-darkblue);
}

header .dropdown-menu {
    min-width: 300px;
    padding: 15px;
    background: var(--bs-white);
    border-radius: 0;
    border-color: var(--bg-darkgrey);
    box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.03);
}

header .dropdown-menu:before,
header .dropdown-menu:after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
}

header .dropdown-menu:after {
    z-index: -1;
    background: var(--bg-darkgrey);
    top: -1px;
}

header .dropdown-menu li a {
    color: var(--text-darkblue);
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    transition: all 0.3s ease-in;
    display: block;
}

header .dropdown-menu li a:hover {
    background: var(--bg-lightgrey);
}

header .navbar-toggler {
    position: absolute;
    padding: 0;
    border: none;
    border-radius: 0;

}

header .navbar-toggler span {
    font-size: 30px;
    color: var(--text-skyblue);
    opacity: 1;
}

header .navbar-toggler:focus,
header .btn-close:focus {
    box-shadow: none;
}

/* --- Header --- */

/* --- Banner --- */
.banner {
    position: relative;
    overflow: hidden;
}

.banner .swiper-slide img {
    width: 100%;
    height: auto;
}

.banner .slide-btns {
    position: absolute;
    bottom: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
}

.banner .slide-btns .swiper-pagination .swiper-pagination-bullet {
    background: var(--bs-white);
}

.slide-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-btns .swiper-pagination {
    position: static;
    width: auto;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.slide-btns .swiper-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
    background: var(--bg-darkgrey);
}

.slide-btns .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--bg-skyblue);
}

.slide-btns .swiper-button-prev,
.slide-btns .swiper-button-next {
    position: static;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--bs-white);
    color: var(--bg-skyblue);
    border: 1px solid var(--bg-darkgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: all 0.3s ease-in;
}

.slide-btns .swiper-button-prev:hover,
.slide-btns .swiper-button-next:hover {
    border: 1px solid var(--bg-skyblue);
}

.slide-btns .swiper-button-prev:after {
    content: "";
    background: url(../images/arrow-left.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    line-height: 0;
}

.slide-btns .swiper-button-next:after {
    content: "";
    background: url(../images/arrow-right.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    line-height: 0;
}



/* --- Banner --- */

/* Courses Slide */
.courses,
.teacher,
.testimonial {
    overflow-x: hidden;
}

.courses .swiper-slide,
.teacher .swiper-slide {
    height: auto;
}

.course-block,
.teacher-block {
    height: 100%;
    border: 1px solid var(--bg-darkgrey);
}

.course-block .course-thumb,
.teacher-block .teacher-thumb {
    height: 200px;
    overflow: hidden;
}

.course-block .course-thumb img,
.teacher-block .teacher-thumb img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.course-block .course-detail,
.teacher-block .teacher-detail {
    padding: 15px 10px;
    height: calc(100% - 200px);
}

.courses .slide-btns,
.teacher .slide-btns,
.testimonial .slide-btns{
    margin-top: 30px;
}

/* Courses Slide */


/* The Future */

.the-future {
    background: url(../images/the-future.jpg) no-repeat center center / cover;
    padding: 120px 0;
    margin-top: 25px;
}

/* The Future */


/* Reasons To Start */

.img-center-block {
    text-align: center;
    padding: 30px 15px 0;
}
.img-center-block img{
    width: auto;
    height: auto;
}

/* Reasons To Start */

/* Become Instructor */

.become-instructor {
    background: rgba(233, 152, 58, 0.1);
}

.become-instructor .get-started {
    background: rgba(233, 152, 58, 1);
    color: #fff;
    padding: 10px 60px;
    display: inline-flex;
    font-size: 16px;
    font-weight: var(--font-medium);
    transition: all 0.3s ease-in;
    margin-bottom: 30px;
}

.become-instructor .get-started:hover {
    background: var(--bg-darkblue);
}

/* Become Instructor */




/* Footer */
footer .f-link {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

footer .f-link li a {
    color: var(--bs-white);
    font-size: var(--font-16);
    font-weight: var(--font-regular);
    transition: all 0.3s ease-in;
}

footer .f-link li a:hover {
    color: var(--bg-skyblue);
}

footer .footer-bottom {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px solid var(--bg-skyblue);
}

footer .footer-bottom .f-link {
    justify-content: flex-start;
}

footer .footer-bottom p {
    color: var(--bs-white);
    font-size: var(--font-16);
    font-weight: var(--font-regular);
    margin-bottom: 0;
}

footer .social-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

footer .social-link li a {
    background: var(--bs-white);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

footer .social-link li a:hover {
    background: var(--bg-skyblue);
}

/* Footer */

/* Top Content */

.top-content{
    max-width: 600px;
}
.top-content .nav-tabs{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}
.top-content .nav-tabs .nav-link{
    background: none;
    color: var(--bs-white);
    font-size: 16px;
    font-weight: var(--font-bold);
    border: none;
    border-bottom: 5px solid transparent;
    border-radius: 0;
    padding: 0 0 10px;
    margin-right: 30px;
    transition: all 0.3s ease-in;
}
.top-content .nav-tabs .nav-link:hover, .top-content .nav-tabs .nav-link.active{
    border-bottom: 5px solid var(--bs-white);
}
.rating-link{
    color: var(--bg-skyblue);
    text-decoration: underline;
}
.top-content .breadcrumb .breadcrumb-item{
    color: var(--bs-white);
    font-size: 16px;
    font-weight: var(--font-medium);
}
.top-content .breadcrumb .breadcrumb-item a{
    color: var(--bs-white);
    transition: all 0.3s ease-in;
}
.top-content .breadcrumb .breadcrumb-item a:hover{
    color: var(--bg-skyblue);
}
.top-content .breadcrumb .breadcrumb-item.active{
    color: var(--bg-skyblue);
}
.top-content .breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    font-family: "bootstrap-icons";
    content: "\F285";
    color: var(--text-skyblue);
}
/* Top Content */


/* Become Teacher */
.learn-box{
    border: 1px solid var(--bg-darkgrey);
    padding: 25px;
    margin-bottom: 30px;
}
.learn-box ul{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}
.learn-box ul li{ 
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--bg-darkblue);
    background: url(../images/check-tick.svg) no-repeat left top;
    background-size: 25px;
    padding-left: 35px;
}
.cricle-list {
    margin-bottom: 30px;
}
.cricle-list li{
    font-size: 16px;
    font-weight: var(--font-regular);
    color: var(--bg-darkblue);
    background: url(../images/disc.svg) no-repeat left top 5px;
    background-size: 10px;
    padding-left: 25px;  
}
.cricle-list.list-small li{
    background-size: 8px;
    padding-left: 20px;
}
.cricle-list li+li{
    margin-top: 10px;
}
.become-teacher {
    background: url(../images/become-teacher.jpg) no-repeat center center / cover;
    padding: 120px 15px;
    margin-top: 25px;
    text-align: center;
}
#readMore1{
    display: inline-flex !important;
    color: var(--bg-skyblue);
    font-size: 16px;
    font-weight: var(--font-medium);
    transition: all 0.3s ease-in;
    position: relative;
}
#readMore1:after{
    font-family: "bootstrap-icons";
    content: "\F282";
    margin-left: 5px;
    transition: all 0.3s ease-in;
}
#readMore1.active:after{
    transform: rotate(180deg);
}
#readMore1:hover{
    color: var(--bg-darkblue);
}

.content-block .text-link{
    font-weight: var(--font-medium);
    transition: all 0.3s ease-in;
}
.content-block .text-link:hover{
    color: var(--bg-darkblue);
    text-decoration: underline;
}

.content-block .acc-course .accordion-item{
    border-radius: 0;
    background: var(--bs-white);
    border:1px solid #D5D9E0;
}
.content-block .acc-course .accordion-item .accordion-button{
    border-radius: 0;
    font-size: 16px;
    color: var(--text-darkblue);
    font-weight: var(--font-medium);
    background: var(--bg-grey);
    padding: 10px 15px 10px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-block .acc-course .accordion-item .accordion-button span{
    font-size: 14px;
    font-weight: var(--font-regular);
    color: var(--text-darkblue);
}
.content-block .acc-course .accordion-item p{
    font-size: 14px;
    font-weight: var(--font-regular);
    color: var(--bg-darkblue);
}
.content-block .acc-course .accordion-item .accordion-button:not(.collapsed){
    border-bottom: 0;
    box-shadow: none;
}
.content-block .acc-course .accordion-item .accordion-button::after {
    background-image:url(../images/arrow-down.svg);
    transform: scale(.7) !important;
    position: absolute;
    left: 15px;
    top: 13px;
  }
.content-block .acc-course .accordion-item .accordion-button:not(.collapsed)::after {
    background-image:url(../images/arrow-down.svg);
    transform: scale(.7) rotate(180deg) !important;
    top: 7px;
}
.content-block .acc-course .accordion-item .stud-link{
    padding: 5px;
}
.content-block .acc-course .accordion-item .stud-link li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-block .acc-course .accordion-item .stud-link li+li{
    margin-top: 15px;
}
.meet-teacher{
    display: flex;
    align-items: flex-end;
    margin: 15px 0;
}
.meet-teacher .teacher-pik{
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    flex-shrink: 0;
}
.meet-teacher .teacher-pik img{
    width: 100%;
    object-fit: cover;
}
.meet-teacher .teach-right{
   margin-left: 15px;
}
.meet-teacher .teach-right .teacher-pro{
   margin-top: 12px;
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: 400;
   color: var(--bg-darkblue);
}
.meet-teacher .teach-right .teacher-pro img{
    margin-right: 10px;
}
.st-rating{
    margin-bottom: 20px;
}
.st-rating li{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.st-rating li .progress{
    flex-shrink: 0;
    flex: calc(100% - 160px);
    border-radius: 0;
    background: var(--bg-darkgrey);
    height: 10px;
}
.st-rating li .progress .progress-bar{
    background: var(--bg-darkblue);
}
.st-rating li span.text-yellow{
    flex: 160px;
}
.ratingdrop{
    position: relative;
}
.ratingdrop .bv_mainselect{
    width: 100%;
}
/* Become Teacher */


/* Content Block */
.content-block .nav-pills{
    justify-content: center;
    border-radius: 0;
}
.content-block .nav-pills .nav-item .nav-link{
    border-radius: 0;
    border:1px solid var(--bg-skyblue);
    color: var(--bg-darkblue);
    font-size: 16px;
    font-weight:var(--font-bold);
    text-transform: capitalize;
    padding: 10px 50px;
    transition: all 0.3s ease-in;
}
.content-block .nav-pills .nav-item .nav-link:hover, .content-block .nav-pills .nav-item .nav-link.active{
    background: var(--bg-skyblue);
    color: var(--bs-white);
}
.content-block .tab-content{
    margin-top: 30px;
}
.content-block .tab-content .search-faq {
    position: relative;
}
.content-block .tab-content .search-faq .form-control{
    border-radius: 0;
    border: 1px solid var(--bg-darkgrey);
    background: var(--bg-lightgrey);
    color: var(--bg-darkgrey);
    font-size: 16px;
    height: 50px;
    padding: 6px 30px 6px 50px;
}
.content-block .tab-content .search-faq i{
    position: absolute;
    left: 15px;
    top: 8px;
    color: #8392A6;
    font-size: 24px;
}
.content-block .tab-content .accordion{
    margin-top: 10px;
}
.content-block .tab-content .accordion-item{
    border-radius: 0;
    margin-bottom: 15px;
    background: var(--bs-white);
    border: none;
}
.content-block .tab-content .accordion-item .accordion-button{
    border-radius: 0;
    font-size: 16px;
    color: var(--text-darkblue);
    font-weight: var(--font-bold);
    background: var(--bs-white);
    border-bottom: 5px solid #D5D9E0;
}
.content-block .tab-content .accordion-item p{
    font-size: 14px;
    font-weight: var(--font-regular);
    color: var(--bg-darkblue);
}
.content-block .tab-content .accordion-item .accordion-button:not(.collapsed){
    border-bottom: 0;
    box-shadow: none;
    padding-bottom: 0;
}
.content-block .tab-content .accordion-item .accordion-button::after {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='Group_16998' data-name='Group 16998' transform='translate(-15665 13656)'%3E%3Cline id='Line_37' data-name='Line 37' x2='20' transform='translate(15665 -13646)' fill='%23160e4d' stroke='%23160e4d' stroke-width='4'/%3E%3Cline id='Line_38' data-name='Line 38' x2='20' transform='translate(15675 -13656) rotate(90)' fill='%23160e4d' stroke='%23160e4d' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E");
    transform: scale(.7) !important;
  }
.content-block .tab-content .accordion-item .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='4' viewBox='0 0 20 4'%3E%3Cline id='Line_37' data-name='Line 37' x2='20' transform='translate(0 2)' fill='none' stroke='%23438ffe' stroke-width='4'/%3E%3C/svg%3E");
}
.content-block .input-design {
    box-shadow: 0 12px 44px rgba(0, 0, 0, 0.05);
}
.content-block .form-control{
    height: 48px;
    border-radius: 0;
    border: 1px solid var(--bg-darkgrey);
    background: var(--bg-lightgrey);
    /* color: var(--bg-darkgrey); */
    font-size: 16px;
}
.content-block .list-group{
    border-radius: 0;
}
.content-block .list-group .list-group-item{
    border: 1px solid var(--bg-darkgrey);
    padding: 20px;
    position: relative;
}
.content-block .list-group .list-group-item .cart-list-item{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.content-block .list-group .list-group-item .course-thumb{
    width: 200px;
}
.content-block .list-group .list-group-item .course-thumb img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.content-block .list-group .list-group-item .course-detail{
    width: calc(100% - 300px);
    padding-right: 80px;
}
.content-block .list-group .list-group-item .course-price{
    width: 100px;
    position: relative;
    align-self: center;
    margin-bottom: 10px;
}
.content-block .list-group .list-group-item .course-price sup{
    position: absolute;
    top: 5px;
}
.content-block .list-group-item+.list-group-item{
    border-top: none;
}
.content-block .list-group-item .cartbottom{
    width: calc(100% - 210px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

.content-block .list-group-item .action-btn a{
    color: var(--bg-skyblue);
    font-size: 16px;
    font-weight: var(--font-regular);
    margin-right: 20px;
    transition: all 0.3s ease-in;
}
.content-block .list-group-item .action-btn a:hover{
    color: var(--bg-darkblue);
}
.content-block .list-group-item .action-btn a.red-btn:hover{
    color: var(--text-red);
}
.input-group .disabled{
    background: var(--bg-darkgrey);
    color: var(--bs-white);
}
.input-group .disabled.bg-darkblue{
    background: var(--bg-darkblue);
    pointer-events: inherit;
    opacity: 1;
}
.content-block .sortcourse .bv_mainselect{
    width: 200px;
}
.userComment{
    margin-top: 25px;
}
.userComment > ul{
    border-bottom: 1px solid var(--bg-darkgrey);
    padding-bottom: 15px;
}
.userComment ul li{
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.userComment ul li .userImg{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background: var(--bg-lightgrey);
}
.userComment ul li .userImg img{ 
    width: 100%;
    min-height: 40px;
    object-fit: cover;
}
.userComment ul li .textPost{
    margin-left: 15px;
}
.userComment ul li .textPost h5{
    color: var(--bg-darkblue);
    font-size: 16px;
    font-weight: var(--font-bold);
    margin-bottom:5px;
}
.userComment ul li .textPost p{
    margin: 5px 0;
}
.like-dislike{
    display: flex;
    align-items: center;
}
.like-dislike a.lik-btn{
    border: 1px solid var(--bg-darkgrey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    transition: all 0.3s ease-in;
}
.like-dislike a.lik-btn:hover{
    border-color: var(--bg-skyblue);
}
.like-dislike .report-text{
    font-size: 16px;
    font-weight: var(--font-regular);
    color: var(--bg-darkblue);
    text-decoration: underline;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.3s ease-in;
}
.userComment ul ul{
    margin: 20px 0 0 50px;
    border-left: 4px solid var(--bg-lightgrey);
    padding-left: 15px;
}
.userComment ul ul li .userImg{
    width: 40px;
    height: 40px;
}
.userComment ul + ul{
    margin-top: 20px;
}
.courses-preview{
    position: sticky;
    top: 85px;
    margin-top: -270px;
}

.search-course-input{
    position: relative;
}
.search-course-input .form-control{
    border-radius: 30px;
    border: 1px solid var(--bg-darkgrey);
    background: var(--bg-lightgrey);
    color: var(--bg-darkgrey);
    font-size: 16px;
    height: 50px;
    padding: 6px 30px 6px 50px;
}
.search-course-input .bi-search {
    position: absolute;
    left: 15px;
    top: 8px;
    color: var(--text-skyblue);
    font-size: 24px;
}

.review-block{
    margin-bottom: 20px;
}
.review-block .review-btn{
    border: 1px solid var(--bg-skyblue);
    background: rgba(67, 143, 254, 0.03);
    display: block;
    text-align: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: var(--font-bold);
}
.review-block form textarea.form-control{
    height: 120px;
    background: #fff;
    resize: none;
}

.courseplay{
    position: relative;
}
.courseplay .carousel-control-next, .courseplay .carousel-control-prev{
    width: 30px;
    height: 70px;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    margin: 0 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
.courseplay .carousel-control-next:hover, .courseplay .carousel-control-prev:hover{
    background: var(--bg-skyblue);
}
.side-toggle{
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;  
    align-items: center;
    padding: 12px 20px;
    position: absolute;
    top: 80px;
    right: 30px;
    color: var(--bs-white);
    font-size: 16px;
    font-weight: var(--font-bold);
    transition: all 0.3s ease-in;
}
.side-toggle:hover {
    background: var(--bg-skyblue);
    color: #fff;
}
.side-content.offcanvas.offcanvas-end{
    top: 86px;
    max-height: 800px;
    overflow-y: auto;
}
.side-content.offcanvas.offcanvas-end .offcanvas-header{
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fff;
}
.side-content .accordion-item{
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid var(--bg-darkgrey);
}
.side-content .accordion-button{
    background: var(--bg-lightgrey);
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: var(--bg-darkblue);
    font-size: 14px;
    font-weight: var(--font-bold);
}
.side-content .filter-courses{
    border: none;
}
.side-content .filter-courses ul{
    padding: 0;
}
.side-content .filter-courses ul li{
    align-items: flex-start;
}
.side-content .filter-courses ul li span{
   font-weight: var(--font-regular);
}
.side-content .filter-courses ul li .form-check-input:checked{
    background-color: var(--bg-skyblue);
    border-color: var(--bg-skyblue);
}
.avatar-upload {
    position: relative;
    width: 200px;
    margin: 0 auto;
}

.avatar-upload #img-preview {
    width: 190px;
    height: 190px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    background: var(--bs-white);
    border: 1px solid var(--bg-skyblue);
}

.avatar-upload #img-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-upload input#choose-file {
    display: none;
}

.avatar-upload label {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    border-radius: 100%;
    background: var(--bg-skyblue);
    color: var(--bs-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 25px;
    bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.avatar-upload label:hover {
    background: var(--bg-darkblue);
}
  

/* Content Block */

/* About Us */

.about_us{
    background: linear-gradient(0deg, rgba(22, 14, 77, 0.8), rgba(22, 14, 77, 0.8)), url(../images/about-us.jpg) no-repeat center center / cover;
}
.testimonial .testimonial-block{
    padding: 20px;
    background: var(--bg-lightgrey);
    border: 1px solid var(--bg-darkgrey);
    border-radius: 5px;
    box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.03);
    position: relative;
}
.testimonial .content {
    text-align: center;
    margin-bottom: 10px;
}
.testimonial .content .text-user{
    margin-left: 15px;
}
.testimonial .content .text-user img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.testimonial .content h3 {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-darkblue);
}

/* About Us */

/* === Message Page === */

.ui-block .input-group .form-control{
    border-radius: 0;
    height: 48px;
}
.chat-user-list{
    margin: 0;
    padding: 0;
    height: 658px;
    overflow-y: auto;
}

.chat-user-list li{
    padding: 15px;
    background: var(--bg-lightgrey);
    border: 1px solid var(--bg-darkgrey);
    cursor: pointer;
}
.chat-user-list li .user-avtar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-right: 15px;
    overflow: hidden;
}

.chat-user-list li span.active-user{
    background: #45E96B;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 5px;
    top: 3px;
}
.chat-user-list li + li{
    margin-top: 15px;
}
.message-block .message-header{
    padding:15px 20px;
    border-bottom: 1px solid var(--bg-darkgrey);
    background-color: var(--bg-lightgrey);
    display: flex;
    align-items: center;
}
.message-block .message-header-img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
}
.message-block .message-header-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.message-block .message-header-img span.active-user{
    background: #45E96B;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 5px;
    top: 3px;
}
.message-block .active_state{
    margin-left: 15px;
}
.message-block .message-page{
    margin: 0;
    position: relative;
}
.message-block .message-index{
    overflow: hidden;
    overflow-y: auto;
    height: 572px;
    padding: 30px 20px;
}
.message-block .recived-chat{
    margin: 25px 0;
    margin-right: auto;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.message-block .recived-chat-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    flex-shrink: 0;
}
.message-block .recived-chat-img img{
    width: 100%;
    border-radius: 50%;
}

.message-block .recived-msg-inbox p{
    background: var(--bg-lightgrey);
    border-radius: 15px 15px 15px 5px;
    color: var(--bg-darkblue);
    font-size: 14px;
    padding: 5px 10px 5px 12px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px 15px;
}
.message-block .time{
    color: var(--bg-darkgrey);
    font-size: 12px;
    font-weight: 400;
}
.message-block .outgoing-chat{
    margin: 25px 0;
    margin-left: auto;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.message-block .outgoing-chat-msg p{
    background: var(--bg-skyblue);
    color: #fff;
    border-radius: 15px 15px 5px 15px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.message-block .outgoing-chat-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 20px;
    text-align: center;
}
.message-block .outgoing-chat-img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.message-block .msg-bottom{
    border-top: 1px solid var(--bg-darkgrey);
    padding: 5px 15px;
    display: flex;
    align-items: center;
}
.message-block .msg-bottom a.leftIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

}
.message-block .msg-bottom a.leftIcon img{
    width: 100%;
}
.message-block .msg-bottom a.leftIcon:hover{
    background: var(--bg-lightgrey);
}
.message-block .msg-bottom .form-control{
    border: none;
}
.message-block .bottom-icons{
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.message-block .msg-bottom .input-group button{
    border: none;
    outline: none;
    background: var(--bg-skyblue);
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}
.message-block .msg-bottom .input-group button:hover{
    background: var(--bg-darkblue);
}
.notifification-active{
    background: var(--bg-skyblue);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/* === Message Page === */

/* My Learning */

.course-block .wish-coures{
    border: 1px solid var(--bg-darkgrey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}
.course-block .wish-coures svg path{
    transition: all 0.3s ease-in;
}
.course-block .wish-coures:hover svg path, .course-block .wish-coures.active svg path{
    fill: var(--bg-darkblue);
    stroke: var(--bg-darkblue);
}
/* My Learning */



/* My Cart */

.blank-box{
    background: var(--bg-lightgrey);
    border: 1px solid var(--bg-darkgrey);
    padding: 60px 30px;
}


/* My Cart */

/* Courses Page */

.all-courses-block{
    margin-top: 10px;
    padding-top: 30px;
    border-top: 1px solid var(--bg-darkgrey);
}
.filter-courses{
    border: 1px solid var(--bg-darkgrey);
}
.filter-courses h5{
    padding: 10px 15px;
    border-bottom: 1px solid var(--bg-darkgrey);
}
.filter-courses ul{
    padding: 15px 15px;
}
.filter-courses ul li{
    display: flex;
    align-items: center;
}
.filter-courses ul li + li{
    margin-top: 10px;
}
.filter-courses ul li span{
    margin-left: 8px;
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--bg-darkblue);
}
.filter-courses ul li .form-check-input{
    flex-shrink: 0;
    margin: 0;
    border-radius: 0;
    border: 2px solid var(--bg-darkgrey);
    width: 18px;
    height: 18px;
    background-position: 0px 0px;
}
.filter-courses ul li .form-check-input:checked{
    background-color: var(--bg-darkblue);
    border-color: var(--bg-darkblue);
}
.filter-courses ul li .form-check-input:focus{
    box-shadow: none;
}
.teacher-detail-block{
    text-align: center;
}
.teacher-detail-block .teacher-pik{
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
}
.teacher-detail-block .teacher-pik img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.teacher-detail-block .socialLink a{
    color: var(--bg-darkblue);
    font-size: 22px;
    margin: 0 5px;
    transition: all 0.3s ease-in;
}
.teacher-detail-block .socialLink a:hover{
    color: var(--bg-skyblue);
}
/* Courses Page */

/* Pagination */

.pagination{
    margin-top: 30px;
}
.pagination .page-item{
    margin: 0 5px;
}
.pagination .page-item .page-link{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid var(--bg-darkgrey);
    color: var(--bg-darkgrey);
    font-size: 16px;
    font-weight: var(--font-regular);
    transition: all 0.3s ease-in;
}
.pagination .page-item.page-dot{
    color: var(--bg-darkgrey);
    font-size: 18px;
    font-weight: var(--font-medium);
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link.active{
    background: var(--bg-darkblue);
    border: 1px solid var(--bg-darkblue);
    color: var(--bs-white);
}
.pagination .form-select{
    border-radius: 30px;
    border: 1px solid var(--bg-darkgrey);
    margin-left: 5px;
}
/* Pagination */